@media(min-width:320px) and (max-width:575px) {
    nav {
        width: 100vw;
        height: 80px;
    }

    #navbar ul li a {
        font-size: 7px;

    }

    input[type="text"] {
        width: 40%;
        height: 5px;
        font-size: 7px;
    }

    nav ul {
        width: 50%;

    }

    /* #navbar ul{
        display: none;
    }

    #navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    #main-links {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ #main-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #menu-toggle:checked ~ #sub-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    } */

    
    

    #navbar {
        width: 100vw;
        height: 6%;
        gap: 6rem;
    }

    #navbar h1 {
        font-size: 13px;
        width: fit-content;
    }

    nav#navigation {
        height: 25%;
        width: 13%;
    }

    #navigation ul {
        right: 0px;
        height: 28%;
    }

    .img {
        width: 100%;

    }

    .img img {
        height: 100%;
    }

    .adventure h1 {
        font-size: 14px;
        width: 50%;
    }

    .adventure h2 {
        font-size: 25px;
        width: 1em;
        top: 0;
    }

    .adventure {
        gap: 1rem;
    }

    button.btn2 {
        font-size: 10px;
    }

    .btn2 {
        height: 25px;
        width: 17%;
    }

    .container {
        height: 50%;
        display: flex;
        flex-direction: column;
    }

    .consept {
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .new {
        height: 500px;
    }

    .new h1 {
        font-size: 20px;
        height: 100px;
        width: auto;
    }

    button.button {
        font-size: 8px;
        height: 15px;
        width: 20%;
    }

    img {
        height: 100%;
        width: 100%;
    }

    .img2 {
        height: 50%;
        width: auto;
    }

    .img3 {
        width: 100%;
    }

    .producthover {
        height: 15rem;
    }

    .caption h2 {
        font-size: 12px;
    }

    .over {
        height: auto;
    }

    .overlay {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
        height: 98%;
        width: 50%;
    }

    .overlay h3 {
        font-size: 2em;
    }


    .overlay h5 {
        height: 91%;
        font-size: 11px;
        width: 80%;
    }

    .producthover img {
        width: 100%;
        height: 20px;
    }

    .contact h1 {
        font-size: 25px;
    }

    .contact h2 {
        font-size: 12px;
        width: 100%;
    }

    .four h1 {
        font-size: 22px;
    }

    .four h2 {
        font-size: 15px;
    }

    .all h1 {
        font-size: 9px;
    }

    .four h2 {
        font-size: 9px;
    }

    .full {
        width: 100%;
        display: flex;
        height: 760px;
        flex-direction: column;
    }


    .fullbin {
        height: 87vw;
    }

    .outline input {
        width: 72vw;
        height: 15%;

    }

    .inp {
        height: 65px;
    }

    .inputbox {
        height: 100px;
    }

    .sub,
    .button,
    .email {
        height: 100px;
    }

    .msg {
        height: 100px;
    }

    .inputbox input {
        width: 30vw;
        height: 15%;
    }

    .overall .msg input {
        width: 72vw;
        height: 15%;
    }

    .overall .button button {
        width: 21vw;
        left: 53vw;
        height: 15%;
    }

    .overall label {
        font-size: 10px;
    }

    .bin h1 {
        font-size: 22px;
    }

    .bin h2 {
        font-size: small;
    }

    .box label {
        font-size: 10px;
    }

    .box input {
        width: 60vw;
        height: 15%;
        font-size: 12px;
    }

    .tech input {
        height: 20px;
    }

    .main {
        height: 100%;
    }



    img.class {
        width: 120px;
        height: 150px;
    }

    .cut{
        height: 1300px;
    }

    .img4 {

        display: flex;
        flex-direction: column;
        width: auto;
        gap: 0px;
        top: opx;
    }

    .img5 img {
        width: 100%;
        height: 100%;
    }

    .fit {
        font-size: 12px;
        width: 60%;
    }

    .com ul li {
        font-size: 10px;
    }

}

@media(min-width:576px) and (max-width:787px) {

    #navbar {
        width: 100vw;
        height: 8%;
        gap: 1rem;
    }

    #navbar h1 {
        width: 100%;
        font-size: 20px;
    }

    #navigation{
        height: 23%;
    }

    /* #navbar ul {
        display: none;
    } */

    /* #navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0);
    } */
    /* #main-links {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ #main-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #menu-toggle:checked ~ #sub-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
    
 */
    input[type="text"] {
        width: 70px;
        height: 7px;
        font-size: 11px;
    }

    .btn2 {
        height: 38px;
        width: 20%;
        font-size: 20px;

    }

    .adventure h2 {

        font-size: 3em;
        top: 0px;
    }

    .adventure h1 {
        width: 100%;
        font-size: 30px;
    }

    .consept {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
    }

    .img2 {
        height: 60%;
        width: 100%;
    }

    button.button {
        width: 33%;
        height: 15%;
    }

    .producthover {
        height: 22rem;
    }

    .cut{
        height: 1400px;
    }
    

    .img4 {
        display: flex;
        flex-direction: column;
        gap: 0px;
        width: auto;
    }

    img.class {
        width: 15vw;
        height: 45%;
    }

    .over {
        height: auto;
    }

    .overlay {
        height: 60%;
        width: 25%;
    }


    .us {
        font-size: 30px;
    }

    .overlay h5 {
        font-size: 11px;
    }

    .full {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .overall {
        margin-top: 20px;
    }

    .inputbox input {
        height: 35px;
        width: 11rem;
    }

    .outline input {
        height: 35px;
        width: 25rem;
    }

    .overall .button button {
        height: 40px;
    }

    .contact {
        height: 500px;
        width: 70%;
    }

    .contact h1 {
        line-height: 3em;
        font-size: 60px;
    }

    .bin {
        font-size: 13px;
    }

    .bin h2 {
        font-size: 25px;
    }

    .box input {
        width: 30em;
        height: 40px;
    }
}


@media(min-width:788px) and (max-width:995px) {

    nav#navbar {
        gap: 10rem;
        width: 100vw;
        height: 7rem;
    }

    #navbar h1 {
        width: 100%;
        font-size: 27px;
    }
     
    /* #navbar ul {
        display: none;
    } */

    /* #navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0);
    } */
    /* #main-links {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ #main-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #menu-toggle:checked ~ #sub-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    } */
    
    nav#navigation {
        height: 17%;
    }

    .consept {
        flex-direction: column;
    }

    .adventure h1 {
        width: 100%;
    }
     
    .adventure h2 {
        font-size: 3em;
        top: 100px;
    }

    .img2 {
        height: 55%;
        width: 100%;
    }

    img {
        height: 100%;
        width: 100%;
    }

    button.button {
        width: 20%;
        height: 10%;
    } 

    .cut{
        height: 1400px;
    }

    .four-content h1+h2 {
        height: 0px;
    }
    

    .img4 {
        gap: 0px;
        width: auto;
        flex-direction: column;
    }
 
    img.class {
        width: 15vw;
        height: 43%;
    }
    .over {
        height: auto;
    }

    .overlay {
        height: 77%;
        padding: 2em;
        line-height: 24px;
    }

    .full {
        flex-direction: column;
        height: fit-content;
    }

    .contact h1 {
        font-size: 4em;
        line-height: 7rem;
    }
    .contact h2{
        width: 100%;
    }
    .inputbox {
        margin-top: 2rem;
    }

    .box input{
        width: 35em ;
        height: 2rem;
    }
}

@media(min-width:996px) and (max-width:1200px) {
    nav#navbar {
        width: 100vw;
    }

    #navbar {
        gap: 14rem;
    }

    /* #navbar ul{
        display: none;
    } */

    #navbar h1 {
        width: 100%;
    }

    /* #navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgb(0, 0, 0);
    } */

    /* #main-links {
        display: none;
    }

    #menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ #main-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    #menu-toggle:checked ~ #sub-navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }
     */
    nav#navigation {
        top: 19rem;
        height: 35%;
    }

    .adventure h1 {
        width: 100%;
    }

    .consept {
        flex-direction: column;
        
    }

    .img2 img {
        height: 37%;
        width: 100%;
    }

    button.button {
        width: 15%;
        height: 20%;
        margin: 3em;
    }

    .over {
        height: fit-content;
    }

    .overlay{
        height: 69%;
    }

    .full {
        flex-direction: column;
        height: fit-content;
    }

    .contact h1 {
        font-size: 5em;
        line-height: 3em;
    }

    .contact h2{
        width: 100%;
    }

    .box input {
        width: 35em;
        height: 40px;
    }
    

    .img4{
        gap: 20px;
    }

    .overall {
        margin: 2em;
    }

    .inputbox input{
        height: 40px;
    }

    .outline input{
        height: 40px;
    }
}
