* {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    /* outline: 15px solid rgb(55, 0, 255); */
}



#navbar {

    display: flex;
    align-items: center;
    position: fixed;
    height: 15%;
    width: 100%;
    flex-direction: row;
    gap: 27rem;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    z-index: 1;
}
h1{
    color: white;
}

 #navbar h1 {
    width: 310px;
    text-align: center;
    color: white;
    font-size: 2em;
}

#navbar ul {
    display: flex;
    align-items: baseline;
    width: 45%;
    justify-content: space-evenly;
}

#navbar ul li {
    list-style: none;
    font-size: 1em;
    height: 27px;
}

#navbar ul li a {
    color: rgb(197, 184, 184);
    display: block;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: white;
}

input[type="text"] {
    text-align: center;
    padding: 3px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    height: 20px;
}

#navigation {
    position: fixed;
    top: 12rem;
    background-color: rgb(0, 0, 0);
    height: 30%;
    width: 8%;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.7;
    z-index: 111;
}

#navigation li {
    list-style: none;
    display: flex;
    justify-content: end;
}

#navigation li a {
    color: rgb(255, 255, 255);
    position: relative;
    bottom: -2em;
    font-size: 20px;
    line-height: 2.5em;
}

.home {
    position: relative;
    z-index: -1;
}

.img {
    position: relative;
    display: flex;
    flex-direction: column;
}

.img img {
    width: 100%;
}

.adventure {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure h1 {
    color: white;
    font-size: 50px;
    width: 50%;
}

.adventure h2 {
    color: white;
    width: 1em;
    position: relative;
    top: 200px;
}

#anglee{
    font-size: 22px;
}

.btn2 {
    height: 50px;
    width: 15%;
    background-color: transparent;
    color: white;
    border: 2px solid;
    font-size: 25px;
    font-family: auto;
}

.btn2:hover {
    background-color: #fff;
    color: #000;
}

.container {
    height: 722px;
}

.consept {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 722px;
    background-color: black;
}

.new {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.new h1 {
    font-size: 3em;
    color: white;
    display: flex;
    justify-content: space-around;
    width: 420px;
    height: 200px;
    align-items: center;
}

button.button {
    width: 40%;
    height: 7%;
    border: 2px solid white;
    background: transparent;
    color: white;
    font-size: large;
    font-family: auto;
    text-align: center;
}

button.button:hover {
    background-color: white;
    color: black;
}

.img3 {
    display: flex;
    flex-direction: row;
}


.cut {
    background-color: black;
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}

.four {
    position: relative;
    top: 100px;
}

.four h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

.four h2 {
    color: white;
    text-align: center;
}

.img4 {
    
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 60px;
}
.four-content  {
    height: 100px;
}
.img4 img{
    transition: transform  0.5s ease-in-out;

}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    line-height: 20px;
}

img.class {
    width: 15vw;
}

.imgA h2 {
    text-decoration: line-through;
    font-size: 12px;
}

.imgB h2 {
    text-decoration: line-through;
    font-size: 12px;
}

.imgC h2 {
    text-decoration: line-through;
    font-size: 12px;
}

.img4 img:hover {
    transform: scale(1.1);
}

.img4 h1 {
    font-size: small;
}

.over {
    position: relative;
    height: 640px;
}

.overlay {
    position: absolute;
    top: 0em;
    width: 35%;
    height: 80%;
    padding: 3em;
    font-size: 1.5em;
    color: white;
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.us {
    height: 100px;
    font-size: 2em;
    font-weight: 300;
}

.overlay h5 {
    font-weight: 300;
}

.img5 img {
    width: 100%;
    height: 80%;
}

.full {
    width: 100%;
    height: 130vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputbox {
    color: white;
    display: flex;
    gap: 11%;
    height: 120px;
}

.inputbox input {
    background-color: transparent;
    border-color: white;
    height: 50px;
    width: 16em;
}

input {
    color: white;
}

.inputbox label {
    font-size: large;
}

.outline {
    color: white;
}

.outline input {
    background-color: transparent;
    border-color: white;
    height: 50px;
    width: 37em;
}

.overall .msg input {
    height: 10em;
    width: 37em;
}

.button {
    text-align: end;
}

.overall .button button {
    background-color: transparent;
    color: white;
    height: 50px;
    width: 12em;
    border-color: white;
}

.overall label {
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.email,
.sub,
.button {
    height: 120px;
}

.msg {
    height: 200px;
}

.contact h1 {
    font-size: 3em;
    font-weight: 400;
}

.contact h2 {
    color: white;
    width: 60%;
    font-weight: 300;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 50%;
}

.producthover {
    position: relative;
    width: 29rem;
    height: 29rem;
    overflow: hidden;
}

.producthover img {
    transition: all 1.5s;
}

.producthover img :hover {
    transform: translateY(-10px);
}

.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    opacity: 0;
    transition: all 0.5s;
}

.producthover:hover .caption {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.producthover :hover img {
    transform: scale(1.3);
}

.fullbin {
    width: 100%;
    height: 77vh;
    background-color: rgb(19, 18, 18);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}

.bin h1 {
    font-size: 3em;
    color: #fff;
}

.bin h2 {
    color: white;
    font-size: 30px;
    font-weight: 500;
}

.box label {
    color: white;
    font-size: large;
}

.box input {
    background-color: transparent;
    color: white;
    text-align: center;
    border-color: white;
    width: 45em;
    height: 50px;
    font-size: 15px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inp {
    height: 80px;
}

.footerpart {
    width: 100%;
    height: 180px;
    background-color: rgb(31, 30, 30);
}

.foot {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    align-items: center;
    justify-content: space-around;
    justify-content: center;
    color: white;
}

.com ul {
    display: flex;
    gap: 2em;
}

.com ul li {
    color: rgb(158, 158, 158);
    list-style: none;
    font-size: 17px;
    font-weight: 550;
    border-bottom: 1px solid;
}

.fit {
    color: rgb(158, 158, 158);
    font-size: 17px;
    font-weight: 550;
    display: flex;
    gap: 7px;
    width: 440px;
}

.fit .wix {
    border-bottom: 1px solid;
}